doctype html
html
    head
        title= "James Bond Movie Trivia"
        style
            include style.css
    body(class= "main")
        h1= "007 Movie Trivia"
        .container 
        .movie-lineup
            a(href='/casinoRoyale')
                img(src= 'casino_royale.jpg')
            a(href='/quantumOfSolace')
                img(src= 'quantum_of_solace.jpg')
            a(href='/skyfall')
                img(src= 'skyfall.jpg')
            a(href='/spectre')
                img(src= 'spectre.jpg')
            a(href='/noTimeToDie')
                img(src= 'no_time_to_die.jpg')