doctype html
html
    head
        title= title= "007 Movie Trivia Ranking"
        style
            include style.css
    body(class= "main")
        a(href='/main')
            h1= "007 Leaderboard"
